# autotools bits
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
missing
.deps
.libs
*.la
*.lo
*.o
stamp-h1
compile

# binaries
src/tvw_sdr

# firmware
target
extract-firmware/CTRLT507.s3
extract-firmware/CTRLT507.bin
extract-firmware/gtatinavrr.sys
extract-firmware/T507.bin

# outputs
cap.txt
